@use "sass:list";
@use "sass:math";

$White: hsl(0, 0%, 100%);
$Light-gray: hsl(212, 45%, 89%);
$Grayish-blue: hsl(220, 15%, 55%);
$Dark-blue: hsl(218, 44%, 22%);
$font-outfit: 'Outfit', sans-serif;
$black-shadow: #000000;
$alpha: .1;

@mixin flx($property, $jty-cnt){
    display: flex;
    #{$property}: $jty-cnt;
}

@mixin for-phone-only{
    @media (max-width: 767.98px){
        @content;
    }
}

@mixin for-desktop-only{
    @media (min-width: 768px) {
        @content;
    }
} 

@function calculaRem($size){
    @return math.div( $size, 16px ) * 1rem;
}

@mixin fontSize($size){
    font-size: calculaRem($size);
}

.container{
    background-color: $Light-gray;
    @include flx(justify-content, center);
    flex-direction: column;
    align-items: center;
    font-family: $font-outfit;
    
    max-width: 1440px;
    min-height: 100vh;
}

.content{
    background-color: $White;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-width: 300px;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba($black-shadow,  $alpha);

    &::before{
        content: "";
        background: url(../images/image-qr-code.png) center center / cover;
        border-radius: 8px;
        width: 100%;
        height: 300px;
        display: flex;
        box-sizing: border-box;
    }

    &__title{
        color: $Dark-blue;
        @include fontSize(25px);
    }

    &__text{
        color: $Grayish-blue;
        @include fontSize(15px);
        padding: 10px;
        text-align: center;
    }
}


.attribution {
    font-size: 11px;
    text-align: center;

    & a {
        color: hsl(228, 45%, 44%);
    }
}

